.container{
  width: 960px;
  margin: 0px auto;

}
html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}
body {
    background-color: #cccccc;
	font-family: Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family:Georgia, serif;
}
a{
  text-decoration: none;
}
#logo{
  height: 100px;
  width: 150px;
  margin: 0 auto;
}
#banner ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#banner li {
    float: left;
    color:pink;
}

#banner li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#banner li a:hover, #banner li a:focus{
    color: #f1f1f1;
}

.new-products{
  text-align: center;
	height: 360px;
	width: 960px;
}
.new-products img{
	border: 1px solid black;
	height: 240px;
  border
	padding: 10px;
  margin: 0px auto;
}


.inquiry-box{
  padding: 2px;
  background-color: yellow;
  border: 2px solid black;
  float: none;
  border-radius: 25px;
}

/* FOOTER NAVIGATION */
.footer{
    border: 2px solid black;
    background: pink;
    display: block;
    border-radius: 25px;
}
.footer #about{
  width: 620px;
  float: none;
  margin: 0;
}
.footer #social{
  width: 300px;
  margin: 0 auto;
  float: right;
}
#about ul{
  list-style-type: none;
}
#about li a{
  color: white;

  padding: 14px 16px;
  text-decoration: none;

}
#social li a{
  color: white;

  padding: 14px 16px;
  text-decoration: none;
}
#social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,0.9);
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: yellow;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
